HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Arduino Libraries ###
arduino/libraries/

### Additional files to ignore ###
*.log
*.tmp
*.temp
*.bak
*.swp
*~
.DS_Store
*.pdf
*.ino

### Idea workspace files ###
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/copilot.data.migration.*
